In [ ]:
What is a database? Differentiate between SQL and NoSQL databases.

In computing, a database is an organized collection of data stored and accessed electronically. Small databases can be stored on a file system, while large databases are hosted on computer clusters or cloud storage
SQL databases are relational, and NoSQL databases are non-relational. SQL databases use structured query language (SQL) and have a predefined schema. NoSQL databases have dynamic schemas for unstructured data. SQL databases are vertically scalable, while NoSQL databases are horizontally scalable.12-Jan-2023

In [ ]:
What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
Data Definition Language(DDL) is a subset of SQL and a part of DBMS(Database Management System). DDL consist of Commands to commands like CREATE, ALTER, TRUNCATE and DROP. These commands are used to create or modify the tables in SQ
CREATE 
CREATE TABLE Student_info
(
College_Id number(2),
College_name varchar(30),
Branch varchar(10)
);


ALTER 
ALTER TABLE Student_info
ADD CGPA number;


TRUNCATE 
TRUNCATE TABLE Student_info;


DROP
DROP TABLE Student_info;

In [ ]:
Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

The structured query language (SQL) commands deal with the manipulation of data present in the database that belongs to the DML or Data Manipulation Language. This includes most of the SQL statements.
INSERT
Insert into Employee(Emp_id, Emp_name) values (001, “ bhanu”);
Insert into Employee(Emp_id, Emp_name) values (002, “ hari”);
Insert into Employee(Emp_id, Emp_name) values (003, “ bob”);

DELETE
DELETE from Employee WHERE Emp_id=002;


UPDATE
UPDATE Employee SET Emp_name= Ram WHERE Emp_id= 001;

In [ ]:
What is DQL? Explain SELECT with an example.

statements are used for performing queries on the data within schema objects. The purpose of the DQL Command is to get some schema relation based on the query passed to it. We can define DQL as follows it is a component of SQL statement that allows getting data from the database and imposing order upon it. It includes the SELECT statement. This command allows getting the data out of the database to perform operations with it. When a SELECT is fired against a table or tables the result is compiled into a further temporary table, which is displayed or perhaps received by the program i.e. a front-end.
SELECT CustomerName, LastName FROM Customer;

In [ ]:
Explain Primary Key and Foreign Key.
Primary Key: A primary key is used to ensure that data in the specific column is unique. A column cannot have NULL values. It is either an existing table column or a column that is specifically generated by the database according to a defined sequence. 

Example: Refer the figure – 
STUD_NO, as well as STUD_PHONE both, are candidate keys for relation STUDENT but STUD_NO can be chosen as the primary key (only one out of many candidate keys). 

Foreign Key: 
A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables. It is a column (or columns) that references a column (most often the primary key) of another table. 

Example: Refer the figure – 
STUD_NO in STUDENT_COURSE is a foreign key to STUD_NO in STUDENT relation.

In [ ]:
Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

import mysql.connector

#establishing the connection
conn = mysql.connector.connect(
   user='root', password='password', host='127.0.0.1', database='mydb'
)
#Creating a cursor object using the cursor() method
cursor = conn.cursor()


You can create Cursor object using the cursor() method of the Connection object/class.




execute()

This method accepts a MySQL query as a parameter and executes the given query.

In [ ]:
Give the order of execution of SQL clauses in an SQL query.